{% extends 'base.html.twig' %}

{% block body %}
    <h1>Customers</h1>

    {% block content %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">State</th>
            </tr>
            </thead>
            <tbody>
            {% for customer in pagination %}
                <tr>
                    <td>{{ customer.id }}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.hasValidPhone ? "OK" : "NOT OK" }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
    {% endblock %}
{% endblock %}